<!-- <body>
  <div>
    <nav>
      <a routeLink="['/check']" routerLinkActive="active"> Click here</a>
    </nav>
    <button (click)="navigateroute()">Open Form</button>
    <button (click)="start()">Click to see company</button>
    <input type="text" [(ngModel)]="title" />
     here if the child selector is not used the parent cant access child from
    ViewChild 
    <h1>Observable RXJS</h1>
    <div *ngFor="let a of array">
      {{ a }}
    </div>
    <button (click)="sendData()">Click to see Observables</button>
    <app-formhandle> </app-formhandle>
    <app-order></app-order>
  </div>
  <div>
    <app-connectback></app-connectback>
  </div> -->
<router-outlet></router-outlet>
